<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD NodeJs Mysql</title>
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.17/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/customers">CRUD NODEJS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/customers">Inicio Crud
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
            <% if (user) { %>
                <div class="d-flex justify-content-end">
                    <span class="text-white me-3">Hola, <%= user.name %>!
                    <br> <%= user.email %>!</span>
                    <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
                </div>
            <% } else { %>

            <!-- Botón de Logout -->
            <div class="d-flex justify-content-end ">
                <a href="/login" class="btn btn-primary">Iniciar sesión</a>
            </div>
        <% } %>

        </div>
        </nav>

